---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "Oups ! Il semble que cette page soit perdue dans l'espace !",
	title: "Oups ! Vous avez trouvé une page manquante !",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">404 | Oups, quelque chose s'est mal passé</h1>
	<p class="mb-8">Veuillez utiliser la navigation pour retrouver votre chemin</p>
</PageLayout>
