---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "Je suis un thème de démarrage pour Astro.build",
	title: "À propos",
};
---

<PageLayout meta={meta}>

	<h1 class="title mb-6">À propos</h1>
	<div class="prose prose-citrus max-w-none">
		<p>
			Bonjour, je suis un thème de démarrage Astro. Je suis particulièrement efficace pour vous aider à créer votre propre site de blog.
		</p>
		<p>Voici quelques-unes de mes fonctionnalités intégrées :</p>
		<ul class="list-inside list-disc" role="list">
			<li>Je suis ultra rapide car je suis un site statique</li>
			<li>Je suis entièrement responsive</li>
			<li>Je propose un mode clair et un mode sombre</li>
			<li>Je suis facile à personnaliser et à enrichir avec du contenu supplémentaire</li>
			<li>J'utilise le style Tailwind CSS</li>
			<li>Mise en évidence de la syntaxe du code avec Shiki</li>
			<li>Satori pour générer automatiquement des images OG pour les articles de blog</li>
		</ul>
		<p>
			Clonez ou forkez mon <a
				aria-label="dépôt github"
				class="citrus-link inline-block"
				href="https://github.com/artemkutsan/astro-citrus"
				rel="noreferrer"
				target="_blank">dépôt</a
			> si vous m'appréciez !
		</p>
	</div>

</PageLayout>
